Connected Services/BookStorage/BookStorage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BookStorage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44369/Service Layer/Book Storage Service/BookStorage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44369/Service Layer/Book Storage Service/BookStorage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44369/Service Layer/Book Storage Service/BookStorage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="https://localhost:44369/Service Layer/Book Storage Service/BookStorage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibraryManagementSystem.Service_Layer.Book_Storage_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookStorage_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_GetBookById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookById" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_GetBookById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_GetBooksByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByCategory" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_GetBooksByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_UpdateInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInventory" />
  </wsdl:message>
  <wsdl:message name="IBookStorage_UpdateInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookStorage">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/GetAllBooks" message="tns:IBookStorage_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/GetAllBooksResponse" message="tns:IBookStorage_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/GetBookById" message="tns:IBookStorage_GetBookById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/GetBookByIdResponse" message="tns:IBookStorage_GetBookById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/AddBook" message="tns:IBookStorage_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/AddBookResponse" message="tns:IBookStorage_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/UpdateBook" message="tns:IBookStorage_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/UpdateBookResponse" message="tns:IBookStorage_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/DeleteBook" message="tns:IBookStorage_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/DeleteBookResponse" message="tns:IBookStorage_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/GetBooksByCategory" message="tns:IBookStorage_GetBooksByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/GetBooksByCategoryResponse" message="tns:IBookStorage_GetBooksByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookStorage/UpdateInventory" message="tns:IBookStorage_UpdateInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookStorage/UpdateInventoryResponse" message="tns:IBookStorage_UpdateInventory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BookStorage" />
</wsdl:definitions>