Connected Services/BorrowingServiceReference/BorrowingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar94.fulton.asu.edu/Page6/BorrowingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" />
  <xs:element name="CheckoutBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="CheckoutBookResult" nillable="true" type="q1:BorrowRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrowId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="ReturnBookResult" nillable="true" type="q2:BorrowRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentBorrowsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentBorrowsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="GetCurrentBorrowsByUserResult" nillable="true" type="q3:ArrayOfBorrowRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="GetBorrowHistoryResult" nillable="true" type="q4:ArrayOfBorrowRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="GetAllLogsResult" nillable="true" type="q5:ArrayOfBorrowLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="GetMemberByIdResult" nillable="true" type="q6:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="member" nillable="true" type="q7:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" minOccurs="0" name="CreateMemberResult" nillable="true" type="q8:Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>