Connected Services/BorrowingServiceReference/BorrowingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LMS.BorrowingService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BorrowRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BorrowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReturned" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowRecord" nillable="true" type="tns:BorrowRecord" />
  <xs:complexType name="ArrayOfBorrowRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowRecord" nillable="true" type="tns:BorrowRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowRecord" nillable="true" type="tns:ArrayOfBorrowRecord" />
  <xs:complexType name="ArrayOfBorrowLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BorrowLog" nillable="true" type="tns:BorrowLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBorrowLog" nillable="true" type="tns:ArrayOfBorrowLog" />
  <xs:complexType name="BorrowLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BorrowLog" nillable="true" type="tns:BorrowLog" />
  <xs:complexType name="Member">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MembershipDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Member" nillable="true" type="tns:Member" />
</xs:schema>