Connected Services/SearchServiceReference/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar94.fulton.asu.edu/Page7/SearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar94.fulton.asu.edu/Page7/SearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar94.fulton.asu.edu/Page7/SearchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LMS.BookSearch.Models" />
      <xsd:import schemaLocation="http://webstrar94.fulton.asu.edu/Page7/SearchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchService_SearchBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchBooks" />
  </wsdl:message>
  <wsdl:message name="ISearchService_SearchBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_AdvancedSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSearch" />
  </wsdl:message>
  <wsdl:message name="ISearchService_AdvancedSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdvancedSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetRecommendations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecommendations" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetRecommendations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecommendationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetPopularBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPopularBooks" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetPopularBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPopularBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchService">
    <wsdl:operation name="SearchBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/SearchBooks" message="tns:ISearchService_SearchBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/SearchBooksResponse" message="tns:ISearchService_SearchBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdvancedSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/AdvancedSearch" message="tns:ISearchService_AdvancedSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/AdvancedSearchResponse" message="tns:ISearchService_AdvancedSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecommendations">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetRecommendations" message="tns:ISearchService_GetRecommendations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetRecommendationsResponse" message="tns:ISearchService_GetRecommendations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPopularBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetPopularBooks" message="tns:ISearchService_GetPopularBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetPopularBooksResponse" message="tns:ISearchService_GetPopularBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetAllCategories" message="tns:ISearchService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetAllCategoriesResponse" message="tns:ISearchService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchService" type="tns:ISearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchBooks">
      <soap:operation soapAction="http://tempuri.org/ISearchService/SearchBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdvancedSearch">
      <soap:operation soapAction="http://tempuri.org/ISearchService/AdvancedSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendations">
      <soap:operation soapAction="http://tempuri.org/ISearchService/GetRecommendations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopularBooks">
      <soap:operation soapAction="http://tempuri.org/ISearchService/GetPopularBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ISearchService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="BasicHttpBinding_ISearchService" binding="tns:BasicHttpBinding_ISearchService">
      <soap:address location="http://webstrar94.fulton.asu.edu/Page7/SearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>